.chart-container {
  height: 250px;
  width: 100%;
  position: relative;
  margin-top: 16px;
}
button {
  cursor: pointer;
  right: 0;
  top: 0;
  z-index: 10;
}
mat-card {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
