<mat-card class="float-left">
  <mat-card-title>Tiempo real</mat-card-title>
  <button class="absolute black" (click)="getCurrentMeasure(false)" mat-icon-button>
    <mat-icon>sync</mat-icon>
  </button>
  <mat-card-content *ngIf="isChartReady">
    <div class="chart-container">
      <canvas baseChart 
              [data]="chartData" 
              [options]="chartOptions" 
              [type]="chartType"
              [legend]="true">
      </canvas>
    </div>
  </mat-card-content>
</mat-card>
